#virtual environments
/venv
/.venv

# solution files
Practice Questions/assignment_solution.ipynb
Practice Questions/conditional_loops_solutions.ipynb
Practice Questions/dictionaries_assignment_solution.ipynb
Practice Questions/list_assignment_solution.ipynb
Practice Questions/set_assignments_solution.ipynb
Practice Questions/tuple_assignment_solution.ipynb
Practice Questions/exceptionhandlingsolution.zip
Practice Questions/filehandlingquestions.zip
Mini_Bank_Project/