#virtual environments
/venv
/.venv

# solution files
Practice Questions/assignment_solution.ipynb
Practice Questions/conditional_loops_solutions.ipynb
Practice Questions/dictionaries_assignment_solution.ipynb
Practice Questions/list_assignment_solution.ipynb
Practice Questions/set_assignments_solution.ipynb
Practice Questions/tuple_assignment_solution.ipynb
Practice Questions/Module_Logging_Assignments_solutions.ipynb
Practice Questions/Module_SQLite3_Assignments_Solution.ipynb
Practice Questions/classesobjectssolution.ipynb
Practice Questions/exceptionhandlingsolution.ipynb
Practice Questions/filehandlingsolution.ipynb
Practice Questions/packagessolution.ipynb


/other folders
/Mini_Bank_Project
/Complete-Python-Bootcamp
/Mini_Bank_Project
